{% extends "structure.html" %}

{% block main %} 
    <h2> About me </h2>
    <div id="eya">
        <p> 
            I am a young engineering student enthusiastic about new technologies especially
        the internet of things, aiming to progress and develop my skills so that I can be
        better. Being an engineer has never been an easy thing but becoming one allows
        us to change effectively and efficiently the world in which we all live. I want to be
        the change I want to see in the world, through my job, my daily habits and my
        attitude.
        </p>
        <img id="eyaimg" src="../static/img/eya.jpg">
    </div>
    

{% endblock main %}