{% extends "structure.html" %}

{% block main %} 
    <h2> Those are the terms of use of this website </h2>
    <p>
        kndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdc
        kndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdc
        kndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdc
        kndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdc
        kndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdckndcjhdsutgcksdljcvysdcbjsdgcusdc
    </p>

{% endblock main %}